<!DOCTYPE html>
<html>
  <head>
    <title>Index</title>
    <link rel='stylesheet' href='/css/style.css' />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.22.0/axios.min.js"></script>
  </head>
  <body>
    
    <a href="/product">Добавить товар</a> 
    <a href="/auth" class ="authBtn">Авторизироватся</a><br>
    <h1>Список товаров:</h1>
    <form  class="productList" name="productList">

    </form>

  </body>

  <script src="/js/main.js"></script>
</html>
