<!DOCTYPE html>
<html>
  <head>
    <title>Index</title>
    <link rel='stylesheet' href='/css/style.css' />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.22.0/axios.min.js"></script>
  </head>
  <body>
  
    <form class="productForm" name="productForm" autocomplete="off" method="POST">

      <input type="text" name="nameProd" placeholder="Названия продукта">
      <input type="text" name="kindProd" placeholder="Вид продукта">
      <input type="number" name="priceProd" placeholder="Цена">

      <button type="submit">Добавить</button>

    </form>



  </body>

  <script src="/js/product.js"></script>
</html>
