<!DOCTYPE html>
<html>
  <head>
    <title>genre</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.4/axios.min.js"></script>
  </head>
<body>
  <form class = "genreName" autocomplete = 'off' method="POST">
    <h1>Add genre</h1>
    <input type="text" name="genreName" placeholder="Genre Name" > 
    <button type="submit" class="BTNGenreName">Add book</button>
  </form>
</body>
  <script src="/js/acp/main.js"></script>
</html>
