<!DOCTYPE html>
<html>
  <head>
    <title>inderx.ejs</title>
    <link rel='stylesheet' href='/css/style.css' />
  </head>

  
 <h1>Library</h1>

  <form class = "form"  autocomplete = 'off'>
     
      <a class="add_book" href="/acp/genre">AddGenre</a>
      <br>
      <br>
      <a class="add_book" href="/acp/avtor">AddAvtor</a>
      <br>
      <br>
      <a class="add_book" href="/acp/book">AddBook</a>
      
  </form>

  <script src="/js/main.js"></script>
</html>
