<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/css/style.css' />
  </head>
 
  <form class = "form">
    <input type="text" name="name" placeholder="Name">
    <input type="text" name="avtorName"placeholder="Avtor name">
    <input type="date" name="datePublik"placeholder="Date publik">
    <input type="text" name="articleText" placeholder="Article text">
    <button class="btn">Send</button>
  </form>

  <script src="/js/main.js"></script>
</html>
